<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center mb-4">Login</h2>
                <% if (query.error) { %>
                    <div class="alert alert-danger">
                        <%= query.error %>
                    </div>
                    <% } %>
                        <form action="/login" method="POST">
                            <div class="mb-3">
                                <label for="rm" class="form-label">RM</label>
                                <input type="number" class="form-control" id="rm" name="rm" required>
                            </div>
                            <div class="mb-3">
                                <label for="etec" class="form-label">ETEC</label>
                                <select class="form-select" id="etec" name="etec" required>
                                    <option value="" disabled selected>Selecione sua ETEC</option>
                                    <option value="043">Etec Bento Quirino - Campinas</option>
                        
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Senha</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                            <button type="submit" class="btn btn-primary w-100">Entrar</button>

                            
                            <button type="submit" class="btn btn-primary w-100">
                                <a href="/loginAdm">Admin</a>
                            </button>

                            <div class="text-center mt-3">
                                <a href="/register">Não tem conta? , registre-se</a>
                            </div>
                            
                            <div class="text-center mt-3">
                                <a href="/reset-password">Esqueceu sua senha?</a>
                            </div>
                        
                            <div class="text-center mt-3">
                        </form>
            </div>
        </div>
    </div>
</body>

</html>   